.main-navigation {
    .offcanvas-title {
        font-size: 1.5rem;
    }
    .offcanvas-body {
        padding-left: 0;
        padding-right: 0;
    }
    nav {
        font-size: 1.125rem;
        ul {
            li {
                list-style: none;
                padding: var(--padding-base) 0;
                color: #252422;
            }
            li a:visited, a:link {
                color: #252422;
            }
            li .selected-nav, .active-nav {
                display: none;
                padding-left: 1rem;
            }
            li:not(:has(li)):hover .selected-nav {
                display: inline-block;
            }
            li:not(:has(li)):has(a.active) .active-nav {
                display: inline-block;
            }
        }
    }
}

#sidebar-thumbnail {
    position: fixed;
    margin: calc(var(--padding-base) * 2);
    width: 4rem;
    height: 4rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCC5B9;
    border-radius: 20%;
}