#portfolio-diary {
    width: 100%;
    height: 100%;
}

#portfolio-diary > h1 {
    margin: 0;
    padding: 0.4em 0;
}


/*temp*/
.classification-strip {
    width: 5px;
}
.data-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.25em 0.5em;
}