.diary-entry__container {
    padding: 0 50px 1em 1em;
}

.diary-entry__header {
}

.diary-entry__content {
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5lh;
}