#main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

#sidebar {
    z-index: 10;
    position: absolute;
    width: 15rem;
    min-width: 270px;
    max-width: 500px;
    height: 100%;
    left: clamp(-270px, -15rem, -500px);
    transition: left 0.75s;
}

#sidebar:hover {
    left: 0;
    transition: left 0.75s;
}

#sidebar #sidebar-main {
    border-right: #252422 1px solid;
    background-color: #FFFCF2;
    color: #252422;
    height: 100%;
}

#sidebar #sidebar-main h1 {
    margin: 0;
    padding: 10px;
}

#sidebar #sidebar-main a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #252422;
    padding: 0.5rem;
    gap: 1rem;
}

#sidebar #sidebar-main a:visited {
    color: #252422;
}

#sidebar #sidebar-main a.active {
    background-color: #CCC5B9;
}

#sidebar #sidebar-thumbnail {
    position: absolute;
    top: 0;
    right: calc(-4rem + 1px);
    width: 4rem;
    height: 4rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFCF2;
    border: 1px solid #252422;
    border-left: none;
    border-radius: 0 20% 20% 0;
}