.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    position: relative;
    background-color: #ffffff;
    border-radius: 1rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
}

.modal-close-icon {
    display: flex;
    align-self: end;
    margin-top: 1rem;
    margin-right: 1rem;
}

.modal-content {
    padding: 0 2rem 1rem;
}

.modal-open {
}

.modal-close {
    display: none;
}