.loading {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading > span {
    font-size: 12px;
}

.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 5px;
    background: #7f7f7f;
    border-radius: 5px;
    animation: loading 7s ease-in-out infinite;
}

@keyframes loading {
    0% {
        top: 0;
        left: 0;
        width: 5px;
        height: 5px;
    }
    12.5% {
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
    }
    25% {
        top: 0;
        left: calc(100% - 5px);
        width: 5px;
        height: 5px;
    }
    37.5% {
        top: 0;
        left: calc(100% - 5px);
        width: 5px;
        height: 100%;
    }
    50% {
        top: calc(100% - 5px);
        left: calc(100% - 5px);
        width: 5px;
        height: 5px;
    }
    62.5% {
        top: calc(100% - 5px);
        left: 0;
        width: 100%;
        height: 5px;
    }
    75% {
        top: calc(100% - 5px);
        left: 0;
        width: 5px;
        height: 5px;
    }
    87.5% {
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
    }
    100% {
        top: 0;
        left: 0;
        width: 5px;
        height: 5px;
    }
}