.new-diary-entry__container {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0 2em;
    width: 100%;
}

.new-diary-entry__input {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

.new-diary-entry__title {
    font-size: 1.25rem;
}