.section-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.section-container__sidebar {
    width: 20%;
    max-width: 200px;
    min-width: 150px;
    border: 1px solid #000000;
    border-right: none;
}

.section-container__sidebar > ul {
    margin: 0;
    padding: 0;
}

.section-container__sidebar > ul > li {
    list-style: none;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #000000;
    font-size: 0.75em;
}

.section-container__sidebar > ul > li:hover {
    background-color: #CCC5B9;
    color: #252422;
}

.section-container__item.selected {
    background-color: #252422;
    color: #FFFCF2;
}

.section-container__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-container__content {
    border: 1px solid #000000;
    flex: 1;
}