.list-container {
    border: 1px solid black;
    width: 40%;
    min-width: 250px;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-container__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.list-container__header .add {
    width: 48px;
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252422;
    color: #FFFCF2;
    border-radius: 5px;
    cursor: pointer;
}

.list-container__header .add:hover {
    background-color: #403D39;
}

.list-container__header > h3 {
    margin: 0;
    font-size: 1.25em;
}

.list-container__container {
    width: 100%;
    flex: 1;
}

.list-container__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #252422;
}