.list-container {
    border: 1px solid black;
    width: 40%;
    min-width: 250px;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-container__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.list-container__header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container__header > h3 {
    margin: 0;
    font-size: 1.25em;
}

.list-container__container {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: scroll;
}

.list-container__item {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #252422;
}

.list-container__item-controls {
    position: absolute;
    right: 0;
    top: 0;
}

.list-container__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 0;
    padding: 0 10px;
    overflow: hidden;
    transition: height 0.5s ease-out;
}

.list-container__overlay.opened {
    transition: height 0.5s ease-out;
    height: 100%;
}

.list-container__footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1em 0;
}

.rotate-45 {
    transform: rotate(45deg);
    transition: transform 0.2s;
}

.rotate-0 {
    transform: rotate(0deg);
    transition: transform 0.2s;
}