@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'), url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

#root {
  font-family: 'Inconsolata', monospace;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
}

#detail {
  display: flex;
  flex: 1;
  padding: 5rem max(20px, 15rem);
  overflow: scroll;
}