html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display:flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  border-right: #d0d0d0 1px solid;
  background-color: #f0f0f0;
}

#sidebar h1 {
  margin: 0;
  padding: 10px;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
  text-decoration: none;
  gap: 1rem;
}

#detail {
  display: flex;
  flex: 1;
  padding: 20px max(20px, 8%);
  overflow: scroll;
}