.button {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252422;
    color: #FFFCF2;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
}

.button:hover {
    background-color: #403D39;
}